
.b-popup {
    background-color: #fff;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 0 25px 5px #999;
    color: #111;
    display: none;
    min-height: 100px;
    min-width: 300px;
    padding: 25px;
}

.b-close {
    color: #000;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 20px;
    position: absolute;
    right: 3px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    line-height: 20px;
    top: 2px;
}

.b-close:hover {
    color: #fff;
    background: #58c3f0;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    box-shadow: none;
    font-family: Tahoma, Geneva, sans-serif;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.b-content {
    line-height: 150%;
    float: left;
    margin-left: 15px;
    width: 300px;
}

.b-btnarea {
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

.b-btn {
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.b-btn-primary {
    background: #58c3f0;
    color: #fff;
}

.b-btn-cancel {
    background: #bcbcbc;
    color: #fff;
	margin-left: 10px;
}

.b-image-container {
    float:left; 
    width:30px;
}

.b-image {
    width:100%;
}

#element_to_pop_up {
	max-width: 450px;
}